[submodule "finufft"]
	path = vendor/finufft
	url = https://github.com/flatironinstitute/finufft
[submodule "vendor/cufinufft"]
	path = vendor/cufinufft
	url = https://github.com/flatironinstitute/cufinufft
