repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [json, binary]
  - repo: https://github.com/psf/black
    rev: "24.3.0"
    hooks:
      - id: black-jupyter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.3.4"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v18.1.2"
    hooks:
      - id: clang-format
