name: GPU Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read # to fetch code
  actions: write # to cancel previous workflows

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    container: nvidia/cuda:12.2.2-devel-ubuntu22.04

    steps:
      - name: Install git and FFTW
        run: apt-get update && apt-get install -y git libfftw3-dev
        env:
          DEBIAN_FRONTEND: "noninteractive"

      - name: Get the version info for NVCC
        run: nvcc --version

      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install Python dependencies
        run: |
          python -m pip install uv

      - name: Compile and check GPU extension
        run: uv run python -c "import jax_finufft.jax_finufft_gpu"
        env:
          CMAKE_ARGS: "-DJAX_FINUFFT_USE_CUDA=ON"
