name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"

      - name: Install fftw on ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get install libfftw3-dev

      - name: Install fftw on macos
        if: ${{ matrix.os == 'macos-latest' }}
        run: brew install fftw

      - name: Build
        run: |
          python -m pip install -U pip
          python -m pip install .[test]

      - name: Run tests
        run: python -m pytest -v tests
