name: Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read # to fetch code
  actions: write # to cancel previous workflows

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.os }}-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.13, 3.13t]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Install fftw on ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get install -y libfftw3-dev

      - name: Install fftw on macos
        if: ${{ matrix.os == 'macos-latest' }}
        run: brew install fftw

      - name: Run tests
        run: uv run --extra test --python ${{ matrix.python-version }} pytest -n auto tests
